<template>
<el-form  label-width="200px" >
		<el-row>
			<el-col :span="24">
				<el-form-item  label="Set de Instrucciones">
					<el-select v-model="selectedInstructionSet" class="m-2" placeholder="Seleccionar el Set de Instrucciones" size="large">
						<el-option
							v-for="item in InstructionSetsList"
							:key="item"
							:label="item"
							:value="item"
						/>
					</el-select>
				</el-form-item>
			</el-col>
		</el-row>
		<el-row>
			<el-col :span="11">
				<el-input
						v-model="codAssembler"
						:rows="10"
						type="textarea" spellcheck="false"
						@keydown.tab.prevent="indent"
						placeholder=""
					/>
			</el-col>
			<el-col class="barra-vertical" :span="2">
    		<el-button type="primary" :disabled="!habilitarCompilar" @click="compilar" >Compilar</el-button>
    		<!-- <el-button type="primary" :disabled="!habilitarDesCompilar" @click="descompilar" :icon="ArrowLeft" /> -->
			</el-col>
			<el-col :span="11">
				<el-input
						v-model="codMaquina"
						readonly
						:rows="10"
						type="textarea"
					/>
			</el-col>
		</el-row>
		<el-row>
			<el-alert v-if="error"
				title="Error"
				type="error"
				:description="error"
				show-icon :closable="false"
			/>
		</el-row>
    <el-divider>Informe</el-divider>
		<el-row>
			<el-table :data="infoTabla" style="width: 100%">
				<el-table-column prop="pc" label="Dir" width="50" />
				<el-table-column prop="label" label="Label" width="150" />
				<el-table-column prop="instruction" label="Instrucción" width="200" />
				<el-table-column prop="bytes" label="Cód Máq" width="100" />
				<el-table-column prop="description" label="Descripción" />
			</el-table>
		</el-row>

	</el-form>

</template>

<script lang="ts" setup>
import { ref, computed } from 'vue'
import { ArrowRight, ArrowLeft } from '@element-plus/icons-vue'
import MapaMemoria from '../components/mapa-memoria.vue'
import InstructionSets from '../instruction-sets'

// data
const selectedInstructionSet = ref('')
const codAssembler = ref(``)
const codMaquina = ref('')
const error = ref("")
const infoTabla = ref([])


// computed
const habilitarCompilar = computed({
    get() {
        return selectedInstructionSet.value != '' && codAssembler.value != '';
    }
})

const habilitarDesCompilar = computed({
    get() {
			return false
      // return selectedInstructionSet.value != '' && codMaquina.value != '';
    }
})

const InstructionSetsList = computed({
    get() {
			let ret = []
			for(const k in InstructionSets) {
				ret.push(k)
			}
      return ret;
    }
})

const InstructionSet = computed({
    get() {
			return selectedInstructionSet.value ? InstructionSets[selectedInstructionSet.value] : {compile:[]}
    }
})


// methods
function compilar() {
	const lines = codAssembler.value.split(/[\r\n]+/)
	let result = []
	let PC = 0;	// program pointer
	const labels = {}	// contiene las direcciones de los labels
	error.value = ""
	infoTabla.value = []


	for(const lineNumber in lines) {
		let line = lines[lineNumber]
		// eliminar comentarios
		line = line.replace(/(\/\/|#).*$/i, "");

		line = line.trim()
		if(line == "") {
			continue;
		}

		//buscar labels
		const l = line.match(/(\w+)[:]/i)
		let pcHexa = PC.toString(16)
		if(pcHexa.length == 1) {
			pcHexa = `0${pcHexa}`
		}
		let label = ""

		if(l) {
			label = l[1]
			labels[label] = pcHexa
			line = line.replace(/\w+[:]\s*/i, "")
		}

		let encontrado = false;
		let pcIncrement = 0;
		for(const i of InstructionSet.value.compile) {
			let params = i.params.join('\\s*,\\s*')
			let regex;
			if(params != "") {
				regex = RegExp(`^\\s*${i.instruction}\\s+${params}\\s*$`, "i")
			} else {
				regex = RegExp(`^\\s*${i.instruction}\\s*$`, "i")
			}


			const match = line.match(regex)
			if(match && match.length > 0) {
				encontrado = true;
				let r = i.result
				let d = i.description

				for(const m in match) {
					r = r.replace(`$${m}`, match[m])
					d = d.replace(`$${m}`, match[m])
				}

				//borrar los espacios de mas
				r = r.trim()
				r = r.replace(/s+/g, " ")

				result.push(r)
				pcIncrement = r.split(" ").length

				// agrego la informacion para la tabla
				infoTabla.value.push({
					pc: pcHexa,
					label: label,
					instruction: line,
					bytes: r,
					description: d,
				})

				PC += pcIncrement;
				break;
			}
		}
		if(!encontrado) {
			const errorLine = parseInt(lineNumber) + 1
			error.value = `Error en instruccion ${line} (línea ${errorLine})`
			result = []
			break;
		}
	}


	// reemplazar los labels
	for(const l in labels) {
		const pc = labels[l]
		for(const r in result) {
			result[r] = result[r].replace(`:${l}`, pc)
		}
		for(const r in infoTabla.value) {
			infoTabla.value[r].bytes = infoTabla.value[r].bytes.replace(`:${l}`, pc)
		}
	}


	codMaquina.value = result.join(" ")

}

	// events
	function indent(ev) {
		const start = ev.target.selectionStart
		const end = ev.target.selectionEnd
		ev.target.value = `${ev.target.value.substring(0,start)}\t${ev.target.value.substring(end)}`
		ev.target.selectionStart =  ev.target.selectionEnd = start + 1

	}



function descompilar() {
	console.log('des-compilar')
}

</script>

<style scoped>
.barra-vertical {
	padding-top: 50px;
}
.barra-vertical button {
	margin: 10px;
	width: calc( 100% - 20px);

}
</style>