<template>
	<span v-for="line in formatedValue">
		{{line}}
	</span>
</template>
<script setup>
	import { computed } from "vue";

	// props
	const props = defineProps({
		modelValue: { type: [String, Array], required: true },
	})

	const formatedValue = computed({
    get() {
        return Array.isArray(props.modelValue) ? props.modelValue : [props.modelValue];
    }
})

</script>
<style scoped>
	span {
		padding: 2px;
		background-color: black;
		color: white;
		margin: 1px;
	}
</style>