<template>
 <el-container>
		<el-header>
			<el-menu
				default-active="/"
				mode="horizontal"
				background-color="#545c64"
				text-color="#fff"
				active-text-color="#ffd04b"
				router
			>
		    <el-menu-item index="/" :router="true" default-active>Inicio</el-menu-item>
				<!-- <div class="flex-grow"></div> -->
		    <!-- <el-menu-item index="/Instruction-Sets" :router="true" >Set de Instrucciones</el-menu-item> -->
			</el-menu>

		</el-header>
		<el-main>
			<router-view />
		</el-main>
	</el-container>
</template>


<script setup>
import { ref } from 'vue'
const activeIndex = ref('1')
</script>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}

.flex-grow {
	flex-grow: 1;
}

</style>
